<section class="bg-white px-6">
    <div class="max-w-xl mx-auto">
        <h1 class="text-2xl font-semibold text-gray-800 capitalize lg:text-3xl">ส่งตรวจผู้ป่วยนอก</h1>
        
        <div class="max-w-xl mt-5 p-6 mx-auto bg-white border border-r-gray-200 rounded-xl">
            <form>
               <label class="block mb-2 text-sm font-medium text-gray-600" for="hn">ค้นหา HN</label>
                <div class="ng-autocomplete">
                    <ng-autocomplete 
                        [data]="dataPatient" 
                        [searchKeyword]="keyword" 
                        (selected)='selectNameEvent($event)'
                        [itemTemplate]="itemTemplateStatic"
                        [notFoundTemplate]="notFoundTemplate"
                        >
                    </ng-autocomplete>
            
                    <ng-template #itemTemplateStatic let-item>
                      <span>
                        <span class="my-16 mx-5" [innerHTML]="item.hn"></span>
                        <span class="my-16 mx-5" [innerHTML]="item.fullname"></span>
                      </span>
                    </ng-template>
          
                    <ng-template #notFoundTemplate let-notFound>
                      <div [innerHTML]="notFound"></div>
                    </ng-template>
                  </div>
            </form>

            <form (ngSubmit)="onSubmit()">
              <div class="mt-4">
                <label class="block mb-2 text-sm font-medium text-gray-600" for="hn">HN</label>
                <input disabled name="hn" value="{{ hn }}"  class="block disabled:opacity-75 bg-gray-100 w-2/4 px-4 py-2 text-gray-700 border rounded-md focus:border-blue-400 focus:ring-opacity-40 focus:outline-none focus:ring focus:ring-blue-300" type="text">
              </div>

              <div class="mt-4">
                <label class="block mb-2 text-sm font-medium text-gray-600" for="hn">รหัสบัตรประชาชน</label>
                <input disabled name="cid" value="{{ cid }}"  class="block disabled:opacity-75 bg-gray-100 w-2/4 px-4 py-2 text-gray-700 border rounded-md focus:border-blue-400 focus:ring-opacity-40 focus:outline-none focus:ring focus:ring-blue-300" type="text">
              </div>

              <div class="mt-4">
                <label class="block mb-2 text-sm font-medium text-gray-600" for="hn">ชื่อ-นามสกุล</label>
                <input disabled name="fullname" value="{{ fullname }}"  class="block disabled:opacity-75 bg-gray-100 w-2/4 px-4 py-2 text-gray-700 border rounded-md focus:border-blue-400 focus:ring-opacity-40 focus:outline-none focus:ring focus:ring-blue-300" type="text">
              </div>

                <div class="flex justify-end mt-6">
                    <a href="opd" class="block px-5 py-2 mt-4 mr-4 font-medium leading-5 text-center text-slate-500 capitalize bg-slate-50 shadow-sm  rounded lg:mt-0 hover:bg-slate-100 lg:w-auto">กลับ</a>
                    <button class="block px-5 py-2 mt-4 font-medium leading-5 text-center text-white capitalize bg-blue-600 shadow-sm shadow-blue-600/50 rounded lg:mt-0 hover:bg-blue-700 lg:w-auto">บันทึก</button>
                </div>
            </form>
        </div>

    </div>
</section>


<!-- modal success -->
<div
  class="w-72 h-fit shadow-xl fixed top-14 right-14 bg-white rounded-xl flex z-20"
  [@showToasterAnimation]="showToaster ? 'show' : 'hide'">
  <div class="h-min-full w-2 bg-green-600 rounded-l-xl"></div>
  <div class="flex w-full h-fit flex-row p-3 justify-center">
    <div class="h-min-full flex flex-col justify-center mr-3">
      <fa-icon [icon]="faCheckCircle" class="text-4xl text-green-600"></fa-icon>
    </div>
    <div class="">
      <p class="font-bold">{{ textSuccess }}</p>
    </div>
  </div>
  <div class="absolute pl-2 pr-2 h-1  w-full bottom-0 left-0">
    <div class="bg-green-600 h-full" [style.width]="progress"></div>
  </div>
</div>

<!-- modal error -->
<div
  class="w-72 h-fit shadow-xl fixed top-14 right-14 bg-white rounded-xl flex z-20"
  [@showToasterAnimation]="showToasterError ? 'show' : 'hide'">
  <div class="h-min-full w-2 bg-red-600 rounded-l-xl"></div>
  <div class="flex w-full h-fit flex-row p-3 justify-center">
    <div class="h-min-full flex flex-col justify-center mr-3">
      <fa-icon [icon]="faXmarkCircle" class="text-4xl text-red-600"></fa-icon>
    </div>
    <div class="">
      <p class="font-bold">{{ textError }}</p>
    </div>
  </div>
  <div class="absolute pl-2 pr-2 h-1  w-full bottom-0 left-0">
    <div class="bg-red-600 h-full" [style.width]="progress"></div>
  </div>
</div>
