<section class="bg-white px-6">
    <div class="container mx-auto">
        <h1 class="text-2xl text-center font-semibold text-gray-800 capitalize lg:text-3xl">ข้อมูลการรับบริการ</h1>
        
        <div class="grid grid-cols-1 gap-8 mt-6 xl:mt-8">
            <div class="p-8 space-y-3 border border-r-gray-200 rounded-xl">
                กราฟ 1
            </div>
        </div>
    </div>
</section>

<section class="bg-white px-6 py-10 ">
    <div class="container mx-auto">
        <h1 class="text-2xl text-center font-semibold text-gray-800 capitalize lg:text-3xl">ข้อมูลการรับบริการ</h1>
        
        <div class="grid grid-cols-1 gap-8 mt-6 xl:mt-8 xl:gap-12 md:grid-cols-2 xl:grid-cols-2">
            <div class="p-8 space-y-3 border border-r-gray-200 rounded-xl">
                กราฟ 2
            </div>

            <div class="p-8 space-y-3 border border-r-gray-200 rounded-xl">
                กราฟ 3
            </div>
        </div>
    </div>
</section>
