<header>
    <nav class="shadow fixed z-20 w-full bg-white p-6 mx-auto lg:flex lg:justify-between lg:items-center">
        <div class="flex items-center justify-between">
            <div>
                <a class="text-2xl font-bold text-gray-800 lg:text-3xl hover:text-gray-700" href="#">โรงพยาบาล</a>
            </div>

            <!-- Mobile menu button -->
            <div class="flex lg:hidden">
                <button id="navbarToggler" 
                    type="button"
                    class="text-gray-500 hover:text-gray-600 focus:outline-none focus:text-gray-600"
                    aria-label="toggle menu">
                    <svg viewBox="0 0 24 24" class="w-6 h-6 fill-current">
                        <path fill-rule="evenodd"
                            d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z">
                        </path>
                    </svg>
                </button>
            </div>
        </div>

        <!-- Mobile Menu open: "block", Menu closed: "hidden" -->
        <div class="navbarCollapse flex flex-col mt-4 space-y-2 lg:mt-0 lg:flex-row lg:-px-8 lg:space-y-0 lg:block hidden">
            <a class="text-gray-700 transition-colors duration-200 transform lg:mx-8 hover:text-blue-500"
                href="/">หน้าหลัก</a>
            <a *ngIf="hidden == true"  class="text-gray-700 transition-colors duration-200 transform lg:mx-8 hover:text-blue-500"
                href="/patient">ทะเบียนผู้ป่วย</a>
            <a *ngIf="hidden == true"  class="text-gray-700 transition-colors duration-200 transform lg:mx-8 hover:text-blue-500"
                href="/opd">ผู้ป่วยนอก</a>
            <a *ngIf="hidden == true"  class="text-gray-700 transition-colors duration-200 transform lg:mx-8 hover:text-blue-500"
                href="/ipd">ผู้ป่วยใน</a>
            <a *ngIf="hidden == true"  class="text-gray-700 transition-colors duration-200 transform lg:mx-8 hover:text-blue-500"
                href="/user">ผู้ใช้งาน</a>
            <a *ngIf="hidden == false" class="text-gray-700 transition-colors duration-200 transform lg:mx-8 hover:text-blue-500"
                href="/about">เกี่ยวกับเรา</a>
            <a *ngIf="hidden == false" class="text-gray-700 transition-colors duration-200 transform lg:mx-8 hover:text-blue-500"
                href="/contact">ติดต่อเรา</a>
        </div>

        <div class="navbarCollapse flex items-center justify-between lg:block hidden">
            <a *ngIf="hidden == false" class="px-5 py-2 mt-4 font-medium leading-5 text-center text-white capitalize bg-slate-500 shadow-sm shadow-slate-500/50 rounded lg:mt-0 hover:bg-slate-600 lg:w-auto"
            href="login">
                เข้าสู่ระบบ
            </a>
            <a *ngIf="hidden == false" class="px-5 py-2 ml-3 mt-4 font-medium leading-5 text-center text-white capitalize bg-blue-500 shadow-sm shadow-blue-500/50 rounded lg:mt-0 hover:bg-blue-600 lg:w-auto"
                href="register">
                สมัคร
            </a>
            <a *ngIf="hidden == true"  (click)="signOut()" class="block px-5 py-2 mt-4 font-medium leading-5 text-center text-white capitalize bg-slate-500 shadow-sm shadow-slate-500/50 rounded lg:mt-0 hover:bg-slate-600 lg:w-auto"
                href="#">
                ออกจากระบบ
            </a>
        </div>
    </nav>
</header>
